/* generali */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 70%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
/* header */

header{
    /* regole debug */
    
}
.logo{
 height: 70px;
 padding-right: 10px;
 border-right:solid grey;
}

#mainnav ul{

    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}


a, .sottotit{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.jumbotron{
    height: 560px;
    margin-top: 30px;
    border-radius: 15px;
    /* regole the bug */
    background-image: url(../img/banner.jpg);
    }

    .testojumbo{
        padding-top: 410px;
        padding-left: 59px;
        color: white;
    }

    .sottojumbo{
       font-size: 15px;
        color: white;
        padding-left: 60px;
        margin-top: -17px;
    }

/* main */

    .nav{
        height: 50px;
        width:100%;
        margin: 16px auto;
        /* regolethebug */
        background-color:  rgb(127, 178, 255);
    }
    

/* widjet e articolo */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.widget{
    float:left;
    width: 20%;
    height: 500px;
    /* regole di debug */
    background-color:  rgb(127, 178, 255) ;
}

.articolo{

    float: left;
    margin: 0 2%;
    width: 56%;
    height: 500px;
    /* regole the bug */
    background-color: rgb(127, 178, 255) ;

}
/* footer */

footer{

    height: 50px;
    margin-top: 15px;
    /* regolethebug */
    background-color: rgb(152, 4, 250);
}

